section.navigation > article .contenu {
	padding: 0;

	.navigation-list {
		display: flex;
		list-style: none;
		overflow-x: scroll;
		border-radius: 16px;
		padding: 8px;
		scrollbar-width: none;
		margin: 0;
		background: #fff;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

		scroll-snap-type: x mandatory;
		scroll-padding-inline: 8px;

		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}

		.navigation-list__item {
			padding: 10px 24px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			scroll-snap-align: start;
			transition: background 300ms ease;
			border-radius: 8px;

			@media (min-width: 768px) {
				flex-grow: 1;
			}
		}

		.navigation-list__item.active {
			background: #0092d0;
			color: #fff;
		}
	}
}
